@tailwind base;
@tailwind components;
@tailwind utilities;

/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
} */

.main-timer-gradient {
  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
}

.main-timer-box-shadow {
  box-shadow: 50px 50px 100px 0px #121530, -50px -50px 100px 0px #272c5a;
}

@layer base {
  :root {
    --background: 235 35% 18%;
    --background-foreground: 235 36% 15%;
    --background-contrast: 234 35% 58%;

    --primary: 227 100% 92%;

    --red: 0 91% 71%;
    --pale-red: 0 90% 76%;
    --white: 0 0% 100%;
    --light-gray: 0 2% 89%;
    --off-white: 229 52% 96%;
    --teal: 182 91% 71%;
    --purple: 284 89% 74%;
    --midnight: 234 39% 14%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
